
body {
    background-color: #e3f8f8;
    font-family: 'Georgia', serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

#navigation-bar {
    background-color: rgb(193, 234, 241);
    padding: 15px;
    text-align: center;
}

#main-content {
    width: 80%;
    margin: 40px auto;
    padding: 30px;
    border: 2px solid #4fa7f9;
    background-color: rgb(193, 234, 241);
}

h1 {
    color: #4fa7f9;
    font-size: 2.5em;
    text-align: center;
}
